<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Demo">
	<listeners>
    	  <listener class-name="common.TestResultListener"/>
  	</listeners>
	<test name="Test" preserve-order="true">
		<classes>
			<class name="testsuite.Demo" />
		</classes>
	</test>
</suite> 